*{
    padding: 0;
    margin: 0;
}
.section-one{
margin: 0px;
padding: 0px;
color: yellow;
}
body{

  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__contact{
    background-color: orangered;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name{
    font-size: 75px;
}

,.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}

.section-two__title,.section-three__title,.section-four__title,.section-five__title{
    margin-top: 15px;
}
.section-one,.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}

.section-one__desc,.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-five__title a{
    color: skyblue;
}

.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    display: inline-block;
    background-color: #6462fd;
    color: black;
    vertical-align: top;
    padding: 20px;
    height: 200px;
    border-radius: 25px;
}

.section-four{
    display: inline-block;
    background-color: #FE7517;
    color: black;
    padding: 20px;
    border-radius: 25px;
    height: 200px;
}

.contact-form{
    margin: 20px;
}
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}


.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
    margin-top: 10px;
}

.contact-form__submit{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orangered;
    color: black;
    border: none;
}